<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    *{
        padding: 0px 0px 0px 0px;
        margin: 0px;
    }
</style>
<body >
    <div style="display: grid; grid-template-columns: auto; grid-row: 2; gap: 100px;">
        <nav style="display: flex; align-items: center; margin-top: 15px;"> 
            <p style="display: inline; padding-left: 10px; padding-right: 10px;"><a href="#">Back</a></p>
            <h1 style="padding-left:43%; font-size: 40px;">My Notes</h1>
        </nav>
        <article style="display: grid; grid-row: 2; grid-template-columns: 1; gap: 20px; width: 50%;">

            <header style="font-size: 32px; font-weight: 400;">Create Notes</header>

            <form action="" style="display: grid; grid-template-rows: 3; gap: 30px;">
                <div style="background-color: aliceblue;">
                    <label for="title" style="font-size: larger; font-weight: 600;">Title:</label>
                    <input type="text" style="display: block; width: 500px; height: 30px;">
                </div>
                <div style="background-color: red;">
                    <label for="content">Content:</label>
                    <textarea id="content" cols="60" rows="30" style="display: block;"></textarea>
                </div>
                
                <input type="submit" value="Create">
            </form>
        </article>
    </div>
</body>
</html>